@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Handle/Index.css" rel="stylesheet" />
<link href="~/Content/Handle/Category.css" rel="stylesheet" />

<div class="row">
    <div class="offset-1 col-md-10 offset-1 ">
        <p>
            <img src="~/Image/IRRELEVANT_LOGO.jpg" />
        </p>
    </div>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <div class="container">
        <div class="row">
            <div class="row col-4">
                    <!-- Category -->
                    <div class="single category">
                        <h3 class="side-title">Category</h3>
                        <ul class="list-unstyled">
                            <li><a href="" title="">Business <span class="pull-right">13</span></a></li>
                            <li><a href="" title="">Technology <span class="pull-right">13</span></a></li>
                            <li><a href="" title="">Web <span class="pull-right">13</span></a></li>
                            <li><a href="" title="">Ecommerce <span class="pull-right">13</span></a></li>
                            <li><a href="" title="">Wordpress <span class="pull-right">13</span></a></li>
                            <li><a href="" title="">Android <span class="pull-right">13</span></a></li>
                            <li><a href="" title="">IOS <span class="pull-right">13</span></a></li>
                            <li><a href="" title="">Windows <span class="pull-right">13</span></a></li>
                        </ul>
                    </div>
            </div>

            <div class="row col-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                        <div class="list-group">
                            <h4><a href="#">5 of Bali’s Spanking New Haunts - WanderLuxe Magazine</a></h4>
                            <p>Naturally, we know where Bali's newest restaurants are and what to order, so give that private chef a rest and check out these spanking new haunts.</p>

                            <div class="list-group-item">
                                <div class="row-picture">
                                    <a href="#" title="sintret">
                                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                                    </a>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <a href="#" title="sintret">
                                            <small>sintret</small>
                                        </a>
                                    </div>
                                    <small>
                                        <i class="glyphicon glyphicon-time"></i> 3 days ago via <span class="twitter"> <i class="fa fa-twitter"></i> <a target="_blank" href="https://twitter.com/sintret" alt="sintret" title="sintret">sintret</a></span>
                                        <br>
                                        <span class="explore"><i class="glyphicon glyphicon-th"></i> <a href="#">Explore 2 places </a></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="list-group">
                            <h4><a href="#">5 of Bali’s Spanking New Haunts - WanderLuxe Magazine</a></h4>
                            <p>Naturally, we know where Bali's newest restaurants are and what to order, so give that private chef a rest and check out these spanking new haunts.</p>

                            <div class="list-group-item">
                                <div class="row-picture">
                                    <a href="#" title="sintret">
                                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                                    </a>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <a href="#" title="sintret">
                                            <small>sintret</small>
                                        </a>
                                    </div>
                                    <small>
                                        <i class="glyphicon glyphicon-time"></i> 3 days ago via <span class="twitter"> <i class="fa fa-twitter"></i> <a target="_blank" href="https://twitter.com/sintret" alt="sintret" title="sintret">sintret</a></span>
                                        <br>
                                        <span class="explore"><i class="glyphicon glyphicon-th"></i> <a href="#">Explore 2 places </a></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="list-group">
                            <h4><a href="/Blog/Edit2">Edit2 deneme of Bali’s Spanking New Haunts - WanderLuxe Magazine</a></h4>
                            <p>Naturally, we know where Bali's newest restaurants are and what to order, so give that private chef a rest and check out these spanking new haunts.</p>

                            <div class="list-group-item">
                                <div class="row-picture">
                                    <a href="#" title="sintret">
                                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                                    </a>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <a href="#" title="sintret">
                                            <small>sintret</small>
                                        </a>
                                    </div>
                                    <small>
                                        <i class="glyphicon glyphicon-time"></i> 3 days ago via <span class="twitter"> <i class="fa fa-twitter"></i> <a target="_blank" href="https://twitter.com/sintret" alt="sintret" title="sintret">sintret</a></span>
                                        <br>
                                        <span class="explore"><i class="glyphicon glyphicon-th"></i> <a href="#">Explore 2 places </a></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

</div>